=begin
#PORTA

## About PORTA  Musement's **PORTA** (*Perfect Open Road To Activities*) service allows suppliers to manage their experiences via API.  # Authentication  <SecurityDefinitions />  # Release notes  This section contains a record of changes to the API.  ## 2023-12-06  * Added `unconfirmed` property to booking cancellation request webhook  ## 2023-10-12  * Added `vendor_id` query parameter to the endpoint `GET /supplier/catalog/experiences`  * Filters results to those which belong to the specified vendor  ## 2023-10-02  * Added `ticket_numbers` and `transaction_id` properties to booking cancellation request webhook  ## 2023-08-24  * Changed `accept-version` header value used for webhook requests  * New value is `vnd.porta-webhook-api.v1`  ## 2023-06-22  * Added webhook test endpoints for sandbox environment:  * `POST /supplier/integration-tests/book`  * `POST /supplier/integration-tests/cancel-booking`  * `POST /supplier/integration-tests/hold`  ## 2023-06-09  * Added endpoint `PATCH /supplier/catalog/experiences/{experience_id}` * Added `archived` property to *Experience model*  * Archived experiences are no longer for sale  ## 2023-05-04  * Removed `supplier-code` header parameter from all endpoints * Removed exhaust vent that exposed the Core  ## 2023-04-20  **Booking confirmation request**  * Added `tuimm_booking_id` property  * Human-friendly Musement booking ID  **Vendors**  * Added `Vendor` model  * Used to categorize experiences by different sources, partners or channels * Added two endpoints:  * `GET /supplier/vendors`  * `POST /supplier/vendors` * Added `vendor_id` property to *Experience model*  ## 2023-03-23  **Experience model**  * Removed `content` and `media` properties 

The version of the OpenAPI document: 1.0.0
Contact: porta@tui.com
Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenapiClient
  class AvailabilitySlotsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Remove availability slots from option
    # An availability slot cannot be deleted if it is part of a hold availability request.
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param api_key [String] The supplier&#39;s API key
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_availability_experiences_experience_id_options_option_id_slots(accept, accept_version, api_key, experience_id, option_id, opts = {})
      delete_availability_experiences_experience_id_options_option_id_slots_with_http_info(accept, accept_version, api_key, experience_id, option_id, opts)
      nil
    end

    # Remove availability slots from option
    # An availability slot cannot be deleted if it is part of a hold availability request.
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param api_key [String] The supplier&#39;s API key
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_availability_experiences_experience_id_options_option_id_slots_with_http_info(accept, accept_version, api_key, experience_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-_\.]{3,50}$/)
      if @api_client.config.client_side_validation && api_key !~ pattern
        fail ArgumentError, "invalid value for 'api_key' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && experience_id !~ pattern
        fail ArgumentError, "invalid value for 'experience_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && option_id !~ pattern
        fail ArgumentError, "invalid value for 'option_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/supplier/availability/experiences/{experience_id}/options/{option_id}/slots'.sub('{' + 'experience_id' + '}', CGI.escape(experience_id.to_s)).sub('{' + 'option_id' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version
      header_params[:'API-Key'] = api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox', 'Supplier-production']

      new_options = opts.merge(
        :operation => :"AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySlotsApi#delete_availability_experiences_experience_id_options_option_id_slots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove availability slot from option
    # An availability slot cannot be deleted if it is part of a hold availability request.
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param availability_slot_id [String] The availability slot ID.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id(accept, accept_version, experience_id, option_id, availability_slot_id, opts = {})
      delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_with_http_info(accept, accept_version, experience_id, option_id, availability_slot_id, opts)
      nil
    end

    # Remove availability slot from option
    # An availability slot cannot be deleted if it is part of a hold availability request.
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param availability_slot_id [String] The availability slot ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_with_http_info(accept, accept_version, experience_id, option_id, availability_slot_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && experience_id !~ pattern
        fail ArgumentError, "invalid value for 'experience_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && option_id !~ pattern
        fail ArgumentError, "invalid value for 'option_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'availability_slot_id' is set
      if @api_client.config.client_side_validation && availability_slot_id.nil?
        fail ArgumentError, "Missing the required parameter 'availability_slot_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && availability_slot_id !~ pattern
        fail ArgumentError, "invalid value for 'availability_slot_id' when calling AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/supplier/availability/experiences/{experience_id}/options/{option_id}/slots/{availability_slot_id}'.sub('{' + 'experience_id' + '}', CGI.escape(experience_id.to_s)).sub('{' + 'option_id' + '}', CGI.escape(option_id.to_s)).sub('{' + 'availability_slot_id' + '}', CGI.escape(availability_slot_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox', 'Supplier-production']

      new_options = opts.merge(
        :operation => :"AvailabilitySlotsApi.delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySlotsApi#delete_availability_experiences_experience_id_options_option_id_slots_availability_slot_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get availability slot for option
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param availability_slot_id [String] The availability slot ID.
    # @param [Hash] opts the optional parameters
    # @return [AvailabilitySlot]
    def get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id(accept, accept_version, experience_id, option_id, availability_slot_id, opts = {})
      data, _status_code, _headers = get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_with_http_info(accept, accept_version, experience_id, option_id, availability_slot_id, opts)
      data
    end

    # Get availability slot for option
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param availability_slot_id [String] The availability slot ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AvailabilitySlot, Integer, Hash)>] AvailabilitySlot data, response status code and response headers
    def get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_with_http_info(accept, accept_version, experience_id, option_id, availability_slot_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && experience_id !~ pattern
        fail ArgumentError, "invalid value for 'experience_id' when calling AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && option_id !~ pattern
        fail ArgumentError, "invalid value for 'option_id' when calling AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'availability_slot_id' is set
      if @api_client.config.client_side_validation && availability_slot_id.nil?
        fail ArgumentError, "Missing the required parameter 'availability_slot_id' when calling AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && availability_slot_id !~ pattern
        fail ArgumentError, "invalid value for 'availability_slot_id' when calling AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/supplier/availability/experiences/{experience_id}/options/{option_id}/slots/{availability_slot_id}'.sub('{' + 'experience_id' + '}', CGI.escape(experience_id.to_s)).sub('{' + 'option_id' + '}', CGI.escape(option_id.to_s)).sub('{' + 'availability_slot_id' + '}', CGI.escape(availability_slot_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySlot'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox', 'Supplier-production']

      new_options = opts.merge(
        :operation => :"AvailabilitySlotsApi.get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySlotsApi#get_availability_experiences_experience_id_options_option_id_slots_availability_slot_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update capacity for availability slot
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param availability_slot_id [String] The availability slot ID.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchAvailabilityExperiencesExperienceIdOptionsOptionIdSlotsAvailabilitySlotIdRequest] :patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_request 
    # @return [AvailabilitySlot]
    def patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id(accept, accept_version, experience_id, option_id, availability_slot_id, opts = {})
      data, _status_code, _headers = patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_with_http_info(accept, accept_version, experience_id, option_id, availability_slot_id, opts)
      data
    end

    # Update capacity for availability slot
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param availability_slot_id [String] The availability slot ID.
    # @param [Hash] opts the optional parameters
    # @option opts [PatchAvailabilityExperiencesExperienceIdOptionsOptionIdSlotsAvailabilitySlotIdRequest] :patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_request 
    # @return [Array<(AvailabilitySlot, Integer, Hash)>] AvailabilitySlot data, response status code and response headers
    def patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_with_http_info(accept, accept_version, experience_id, option_id, availability_slot_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && experience_id !~ pattern
        fail ArgumentError, "invalid value for 'experience_id' when calling AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && option_id !~ pattern
        fail ArgumentError, "invalid value for 'option_id' when calling AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'availability_slot_id' is set
      if @api_client.config.client_side_validation && availability_slot_id.nil?
        fail ArgumentError, "Missing the required parameter 'availability_slot_id' when calling AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && availability_slot_id !~ pattern
        fail ArgumentError, "invalid value for 'availability_slot_id' when calling AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/supplier/availability/experiences/{experience_id}/options/{option_id}/slots/{availability_slot_id}'.sub('{' + 'experience_id' + '}', CGI.escape(experience_id.to_s)).sub('{' + 'option_id' + '}', CGI.escape(option_id.to_s)).sub('{' + 'availability_slot_id' + '}', CGI.escape(availability_slot_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySlot'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox', 'Supplier-production']

      new_options = opts.merge(
        :operation => :"AvailabilitySlotsApi.patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySlotsApi#patch_availability_experiences_experience_id_options_option_id_slots_availability_slot_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create availability slots for experience
    # The maximum number of items in the request body varies based on the type of availability slot:    * Daily slot: 100   * Open slot: 1   * Time slot: 100 
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param api_key [String] The supplier&#39;s API key
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<AvailabilitySlot>] :availability_slot 
    # @return [AvailabilitySlot]
    def post_availability_experiences_experience_id_options_option_id_slots(accept, accept_version, api_key, experience_id, option_id, opts = {})
      data, _status_code, _headers = post_availability_experiences_experience_id_options_option_id_slots_with_http_info(accept, accept_version, api_key, experience_id, option_id, opts)
      data
    end

    # Create availability slots for experience
    # The maximum number of items in the request body varies based on the type of availability slot:    * Daily slot: 100   * Open slot: 1   * Time slot: 100 
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param api_key [String] The supplier&#39;s API key
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<AvailabilitySlot>] :availability_slot 
    # @return [Array<(AvailabilitySlot, Integer, Hash)>] AvailabilitySlot data, response status code and response headers
    def post_availability_experiences_experience_id_options_option_id_slots_with_http_info(accept, accept_version, api_key, experience_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'api_key' is set
      if @api_client.config.client_side_validation && api_key.nil?
        fail ArgumentError, "Missing the required parameter 'api_key' when calling AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots"
      end
      pattern = Regexp.new(/^[a-zA-Z0-9-_\.]{3,50}$/)
      if @api_client.config.client_side_validation && api_key !~ pattern
        fail ArgumentError, "invalid value for 'api_key' when calling AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && experience_id !~ pattern
        fail ArgumentError, "invalid value for 'experience_id' when calling AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && option_id !~ pattern
        fail ArgumentError, "invalid value for 'option_id' when calling AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/supplier/availability/experiences/{experience_id}/options/{option_id}/slots'.sub('{' + 'experience_id' + '}', CGI.escape(experience_id.to_s)).sub('{' + 'option_id' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version
      header_params[:'API-Key'] = api_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'availability_slot'])

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySlot'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox', 'Supplier-production']

      new_options = opts.merge(
        :operation => :"AvailabilitySlotsApi.post_availability_experiences_experience_id_options_option_id_slots",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySlotsApi#post_availability_experiences_experience_id_options_option_id_slots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update availability slot for option
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param availability_slot_id [String] The availability slot ID.
    # @param [Hash] opts the optional parameters
    # @option opts [AvailabilitySlot] :availability_slot 
    # @return [AvailabilitySlot]
    def put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id(accept, accept_version, experience_id, option_id, availability_slot_id, opts = {})
      data, _status_code, _headers = put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_with_http_info(accept, accept_version, experience_id, option_id, availability_slot_id, opts)
      data
    end

    # Update availability slot for option
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param experience_id [String] The experience ID.
    # @param option_id [String] The option ID.
    # @param availability_slot_id [String] The availability slot ID.
    # @param [Hash] opts the optional parameters
    # @option opts [AvailabilitySlot] :availability_slot 
    # @return [Array<(AvailabilitySlot, Integer, Hash)>] AvailabilitySlot data, response status code and response headers
    def put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id_with_http_info(accept, accept_version, experience_id, option_id, availability_slot_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && experience_id !~ pattern
        fail ArgumentError, "invalid value for 'experience_id' when calling AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && option_id !~ pattern
        fail ArgumentError, "invalid value for 'option_id' when calling AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'availability_slot_id' is set
      if @api_client.config.client_side_validation && availability_slot_id.nil?
        fail ArgumentError, "Missing the required parameter 'availability_slot_id' when calling AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id"
      end
      pattern = Regexp.new(/^(?!\-|\.|\_)[0-9a-z\-\.\_]{1,50}$/)
      if @api_client.config.client_side_validation && availability_slot_id !~ pattern
        fail ArgumentError, "invalid value for 'availability_slot_id' when calling AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/supplier/availability/experiences/{experience_id}/options/{option_id}/slots/{availability_slot_id}'.sub('{' + 'experience_id' + '}', CGI.escape(experience_id.to_s)).sub('{' + 'option_id' + '}', CGI.escape(option_id.to_s)).sub('{' + 'availability_slot_id' + '}', CGI.escape(availability_slot_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'availability_slot'])

      # return_type
      return_type = opts[:debug_return_type] || 'AvailabilitySlot'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox', 'Supplier-production']

      new_options = opts.merge(
        :operation => :"AvailabilitySlotsApi.put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilitySlotsApi#put_availability_experiences_experience_id_options_option_id_slots_availability_slot_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
