=begin
#PORTA

## About PORTA  Musement's **PORTA** (*Perfect Open Road To Activities*) service allows suppliers to manage their experiences via API.  # Authentication  <SecurityDefinitions />  # Release notes  This section contains a record of changes to the API.  ## 2023-12-06  * Added `unconfirmed` property to booking cancellation request webhook  ## 2023-10-12  * Added `vendor_id` query parameter to the endpoint `GET /supplier/catalog/experiences`  * Filters results to those which belong to the specified vendor  ## 2023-10-02  * Added `ticket_numbers` and `transaction_id` properties to booking cancellation request webhook  ## 2023-08-24  * Changed `accept-version` header value used for webhook requests  * New value is `vnd.porta-webhook-api.v1`  ## 2023-06-22  * Added webhook test endpoints for sandbox environment:  * `POST /supplier/integration-tests/book`  * `POST /supplier/integration-tests/cancel-booking`  * `POST /supplier/integration-tests/hold`  ## 2023-06-09  * Added endpoint `PATCH /supplier/catalog/experiences/{experience_id}` * Added `archived` property to *Experience model*  * Archived experiences are no longer for sale  ## 2023-05-04  * Removed `supplier-code` header parameter from all endpoints * Removed exhaust vent that exposed the Core  ## 2023-04-20  **Booking confirmation request**  * Added `tuimm_booking_id` property  * Human-friendly Musement booking ID  **Vendors**  * Added `Vendor` model  * Used to categorize experiences by different sources, partners or channels * Added two endpoints:  * `GET /supplier/vendors`  * `POST /supplier/vendors` * Added `vendor_id` property to *Experience model*  ## 2023-03-23  **Experience model**  * Removed `content` and `media` properties 

The version of the OpenAPI document: 1.0.0
Contact: porta@tui.com
Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenapiClient
  class WebhookTestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Test booking confirmation
    # Send a booking confirmation request in the sandbox environment to test your integration. This request format differs from what is eventually sent to the webhook service. The final request will also contain a randomly-generated `tuimm_booking_id` property.  The response will be the response from your webhook service. 
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [TestBookingConfirmationRequest] :test_booking_confirmation_request 
    # @return [nil]
    def post_integration_tests_book(accept, accept_version, opts = {})
      post_integration_tests_book_with_http_info(accept, accept_version, opts)
      nil
    end

    # Test booking confirmation
    # Send a booking confirmation request in the sandbox environment to test your integration. This request format differs from what is eventually sent to the webhook service. The final request will also contain a randomly-generated &#x60;tuimm_booking_id&#x60; property.  The response will be the response from your webhook service. 
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [TestBookingConfirmationRequest] :test_booking_confirmation_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def post_integration_tests_book_with_http_info(accept, accept_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookTestsApi.post_integration_tests_book ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling WebhookTestsApi.post_integration_tests_book"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling WebhookTestsApi.post_integration_tests_book"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/supplier/integration-tests/book'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'test_booking_confirmation_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox']

      new_options = opts.merge(
        :operation => :"WebhookTestsApi.post_integration_tests_book",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookTestsApi#post_integration_tests_book\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test booking cancellation
    # Send a booking cancellation request in the sandbox environment to test your integration. The response will be the response from your webhook service.
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [PostIntegrationTestsCancelBookingRequest] :post_integration_tests_cancel_booking_request 
    # @return [nil]
    def post_integration_tests_cancel_booking(accept, accept_version, opts = {})
      post_integration_tests_cancel_booking_with_http_info(accept, accept_version, opts)
      nil
    end

    # Test booking cancellation
    # Send a booking cancellation request in the sandbox environment to test your integration. The response will be the response from your webhook service.
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [PostIntegrationTestsCancelBookingRequest] :post_integration_tests_cancel_booking_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def post_integration_tests_cancel_booking_with_http_info(accept, accept_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookTestsApi.post_integration_tests_cancel_booking ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling WebhookTestsApi.post_integration_tests_cancel_booking"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling WebhookTestsApi.post_integration_tests_cancel_booking"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/supplier/integration-tests/cancel-booking'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_integration_tests_cancel_booking_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox']

      new_options = opts.merge(
        :operation => :"WebhookTestsApi.post_integration_tests_cancel_booking",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookTestsApi#post_integration_tests_cancel_booking\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test hold availability
    # Send a hold availability request in the sandbox environment to test your integration. The response will be the response from your webhook service.
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [TestHoldAvailabilityRequest] :test_hold_availability_request 
    # @return [nil]
    def post_integration_tests_hold(accept, accept_version, opts = {})
      post_integration_tests_hold_with_http_info(accept, accept_version, opts)
      nil
    end

    # Test hold availability
    # Send a hold availability request in the sandbox environment to test your integration. The response will be the response from your webhook service.
    # @param accept [String] Specify the format of the response.
    # @param accept_version [String] The version of PORTA for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [TestHoldAvailabilityRequest] :test_hold_availability_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def post_integration_tests_hold_with_http_info(accept, accept_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookTestsApi.post_integration_tests_hold ...'
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling WebhookTestsApi.post_integration_tests_hold"
      end
      # verify enum value
      allowable_values = ["application/json"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept)
        fail ArgumentError, "invalid value for \"accept\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'accept_version' is set
      if @api_client.config.client_side_validation && accept_version.nil?
        fail ArgumentError, "Missing the required parameter 'accept_version' when calling WebhookTestsApi.post_integration_tests_hold"
      end
      # verify enum value
      allowable_values = ["vnd.porta-api.v1"]
      if @api_client.config.client_side_validation && !allowable_values.include?(accept_version)
        fail ArgumentError, "invalid value for \"accept_version\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/supplier/integration-tests/hold'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'accept'] = accept
      header_params[:'accept-version'] = accept_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'test_hold_availability_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Supplier-sandbox']

      new_options = opts.merge(
        :operation => :"WebhookTestsApi.post_integration_tests_hold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookTestsApi#post_integration_tests_hold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
